<ion-content>
	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Name</span>
			<input type="text" placeholder="Name" data-ng-model="item.name">
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Start reminder on</span>
			<input type="datetime-local" step="60" data-ng-model="item.reminder.startAt">
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Reminder frequency (in minutes)</span>
			<input type="number" placeholder="Reminder frequency" data-ng-model="item.reminder.frequency">
		</label>

		<div class="item item-divider">
			Metrics
		</div>

		<div data-ng-repeat="metric in item.metrics">
			<div class="item item-input item-divider">
				<input type="text" placeholder="Name" data-ng-model="metric.name">
			</div>
			<div class="item item-input">
				<input type="text" placeholder="When?" data-ng-model="metric.when">
			</div>
		</div>

		<div class="button button-full button-balanced button-add-metric item text-center" data-ng-click="addMetric()">
			<i class="icon ion-plus"></i> Add metric
		</div>
	</div>
</ion-content>