<ion-content>
	<div class="list">
		<div class="item item-input">
			<input type="text" placeholder="Name" data-ng-model="item.name">
		</div>

		<div class="item item-divider">
			Metrics
		</div>

		<div data-ng-repeat="metric in item.metrics">
			<div class="item item-input item-divider">
				<input type="text" placeholder="Name" data-ng-model="metric.name">
			</div>
			<div class="item item-input">
				<input type="text" placeholder="When?" data-ng-model="metric.when">
			</div>
		</div>

		<div class="button button-full button-balanced button-add-metric item text-center" data-ng-click="addMetric()">
			<i class="icon ion-plus"></i> Add metric
		</div>
	</div>
</ion-content>