<ion-view view-title="DT Reminder">
	<ion-header-bar class="bar-positive">
		<div class="buttons">
			<button class="button icon ion-minus" data-ng-click="shouldShowDelete = ! shouldShowDelete"></button>
		</div>
		<h1 class="title">DT Reminder</h1>
<!-- 		<div class="buttons">
			<button class="button icon ion-navicon" data-ng-click="shouldShowReorder = ! shouldShowReorder"></button>
		</div> -->
	</ion-header-bar>

	<ion-content>
		<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder">
			<ion-item class="item-icon-right" href="#/items/{{item.id}}/data/create" collection-repeat="item in items">
				<ion-delete-button class="ion-minus-circled" ng-click="removeItem(item)"></ion-delete-button>
				{{ item.name }}
				<ion-option-button class="button-info" data-ui-sref="item-edit({itemId: item.id})">
					Edit
				</ion-option-button>
				<i class="icon ion-chevron-right"></i>
				<!-- <ion-reorder-button class="ion-navicon" on-reorder="reorderItem($fromIndex, $toIndex)"></ion-reorder-button> -->
			</ion-item>
		</ion-list>
	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive">
		<div class="buttons">
			<div class="buttons">
				<a class="button" href="#/settings"><i class="icon ion-gear-b"></i></a>
				<a class="button" href="#/debugging"><i class="icon ion-wrench"></i></a>
			</div>
			<h1 class="title"></h1>
			<div class="buttons">
				<a class="button" href="#/items/create"><i class="icon ion-plus"></i></a>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>